services:
  mariadb:
    build: ./requirements/mariadb
    restart: always
    init: true
    networks:
      - inception-network
    volumes:
      - mariadb-data:/var/lib/mysql
    environment:
      MARIADB_ROOT_PASSWORD: ${MARIADB_ROOT_PASSWORD}
      MARIADB_DATABASE: ${MARIADB_DATABASE}
      MARIADB_USER: ${MARIADB_USER}
      MARIADB_PASSWORD: ${MARIADB_PASSWORD}
    healthcheck:
      test: [ "CMD", "bash", "-c", "mariadb -u root -p${MARIADB_ROOT_PASSWORD} -e 'SELECT 1;'" ]
      interval: 5s
      timeout: 3s
      retries: 3
      start_period: 10s
  wordpress:
    depends_on:
      mariadb:
        condition: service_healthy
    build: ./requirements/wordpress
    restart: always
    init: true
    networks:
      - inception-network
    volumes:
      - wordpress-data:/var/www/html
    environment:
      WORDPRESS_DB_HOST: ${WORDPRESS_DB_HOST}
      WORDPRESS_DB_NAME: ${WORDPRESS_DB_NAME}
      WORDPRESS_DB_USER: ${WORDPRESS_DB_USER}
      WORDPRESS_DB_PASSWORD: ${WORDPRESS_DB_PASSWORD}
      WORDPRESS_SITE_URL: ${WORDPRESS_SITE_URL}
      WORDPRESS_SITE_TITLE: ${WORDPRESS_SITE_TITLE}
      WORDPRESS_ADMIN_USER: ${WORDPRESS_ADMIN_USER}
      WORDPRESS_ADMIN_PASSWORD: ${WORDPRESS_ADMIN_PASSWORD}
      WORDPRESS_ADMIN_EMAIL: ${WORDPRESS_ADMIN_EMAIL}
      WORDPRESS_NORMAL_USER: ${WORDPRESS_NORMAL_USER}
      WORDPRESS_NORMAL_EMAIL: ${WORDPRESS_NORMAL_EMAIL}
      WORDPRESS_NORMAL_PASSWORD: ${WORDPRESS_NORMAL_PASSWORD}

  nginx:
    depends_on:
      - wordpress
    build: ./requirements/nginx
    restart: always
    init: true
    ports:
      - 443:443
    networks:
      - inception-network
    volumes:
      - wordpress-data:/var/www/html
      - ./requirements/nginx/conf/nginx.conf:/etc/nginx/conf.d/default.conf
networks:
  inception-network:
    name: inception

volumes:
  wordpress-data:
  mariadb-data:
