services:
  mariadb:
    build: ./requirements/mariadb
    restart: always
    init: true
    networks:
      - inception-network
    volumes:
      - mariadb-data:/var/lib/mysql
    environment:
      MARIADB_ROOT_PASSWORD: rootpass # 管理者(ユーザー名はroot)のパスワード
      MARIADB_DATABASE: example_db # データベース名
      MARIADB_USER: example_user # 一般ユーザー
      MARIADB_PASSWORD: example_password # 一般ユーザーのパスワード
    healthcheck:
      test: [ "CMD", "bash", "-c", "mariadb -u root -prootpass -e 'SELECT 1;'" ] # todo: rootpassを変数にする
      interval: 5s
      timeout: 3s
      retries: 3
      start_period: 10s
  wordpress:
    depends_on:
      mariadb:
        condition: service_healthy
    build: ./requirements/wordpress
    restart: always
    init: true
    networks:
      - inception-network
    volumes:
      - wordpress-data:/var/www/html
    environment:
      WORDPRESS_DB_HOST: mariadb:3306 # データベースサーバ名：ポート番号
      WORDPRESS_DB_NAME: example_db # WordPress用データベース名(dbの内容に合わせる)
      WORDPRESS_DB_USER: example_user # WordPress用接続ユーザ名(dbの内容に合わせる)
      WORDPRESS_DB_PASSWORD: example_password # WordPress用パスワード(dbの内容に合わせる)

  nginx:
    depends_on:
      - wordpress
    build: ./requirements/nginx
    restart: always
    init: true
    ports:
      - 443:443
    networks:
      - inception-network
    volumes:
      - wordpress-data:/var/www/html
      - ./requirements/nginx/conf/nginx.conf:/etc/nginx/conf.d/default.conf
networks:
  inception-network:
    name: inception

volumes:
  wordpress-data:
  mariadb-data:
