services:
  mariadb:
    build: ./requirements/mariadb
    restart: always
    init: true
    networks:
      - inception-network
    volumes:
      # - /home/mfunakos/data/mariadb:/var/lib/mysql
      - mariadb-data:/var/lib/mysql
    environment:
      MARIADB_ROOT_PASSWORD_FILE: /run/secrets/db_root_password
      MARIADB_PASSWORD_FILE: /run/secrets/db_password
      MARIADB_DATABASE: ${MARIADB_DATABASE}
      MARIADB_USER: ${MARIADB_USER}
    secrets:
      - db_root_password
      - db_password
    healthcheck:
      test: [ "CMD", "bash", "-c", "mariadb -u root -p\"$(cat /run/secrets/db_root_password)\" -e 'SELECT 1;'" ]
      interval: 5s
      timeout: 3s
      retries: 3
      start_period: 10s

  wordpress:
    depends_on:
      mariadb:
        condition: service_healthy
    build: ./requirements/wordpress
    restart: always
    init: true
    networks:
      - inception-network
    volumes:
      # - /home/mfunakos/data/wordpress:/var/www/html
      - wordpress-data:/var/www/html
    environment:
      WORDPRESS_DB_HOST: ${WORDPRESS_DB_HOST}
      WORDPRESS_DB_NAME: ${WORDPRESS_DB_NAME}
      WORDPRESS_DB_USER: ${WORDPRESS_DB_USER}
      WORDPRESS_DB_PASSWORD_FILE: /run/secrets/wp_db_password
      WORDPRESS_SITE_URL: ${WORDPRESS_SITE_URL}
      WORDPRESS_SITE_TITLE: ${WORDPRESS_SITE_TITLE}
      WORDPRESS_ADMIN_USER: ${WORDPRESS_ADMIN_USER}
      WORDPRESS_ADMIN_PASSWORD_FILE: /run/secrets/wp_admin_password
      WORDPRESS_ADMIN_EMAIL: ${WORDPRESS_ADMIN_EMAIL}
      WORDPRESS_NORMAL_USER: ${WORDPRESS_NORMAL_USER}
      WORDPRESS_NORMAL_EMAIL: ${WORDPRESS_NORMAL_EMAIL}
      WORDPRESS_NORMAL_PASSWORD_FILE: /run/secrets/wp_normal_password
    secrets:
      - wp_db_password
      - wp_admin_password
      - wp_normal_password

  nginx:
    depends_on:
      - wordpress
    build: ./requirements/nginx
    restart: always
    init: true
    ports:
      - 443:443
    networks:
      - inception-network
    volumes:
      # - /home/mfunakos/data/wordpress:/var/www/html
      - wordpress-data:/var/www/html
networks:
  inception-network:
    name: inception

secrets:
  db_root_password:
    file: ../secrets/mariadb_root_password.txt
  db_password:
    file: ../secrets/mariadb_password.txt
  wp_db_password:
    file: ../secrets/wordpress_db_password.txt
  wp_admin_password:
    file: ../secrets/wordpress_admin_password.txt
  wp_normal_password:
    file: ../secrets/wordpress_normal_password.txt

volumes:
  mariadb-data:
  wordpress-data:
